  <div class="invitefriend-container1">
    <img href="#" class="invitefriend-picture" />
    <div class="invitefriend-container2">
      <div class="invitefriend-container3">
        <span class="invitefriend-name">{{FirstName}} {{LastName}}</span>
      </div>
      <div class="invitefriend-button-container">
        <button type="button" (click)="SendInvite()" class="invitefriend-invite-button button">
          <svg viewBox="0 0 804.5714285714286 1024" class="invitefriend-icon">
            <path
              d="M804.571 420.571v109.714c0 30.286-24.571 54.857-54.857 54.857h-237.714v237.714c0 30.286-24.571 54.857-54.857 54.857h-109.714c-30.286 0-54.857-24.571-54.857-54.857v-237.714h-237.714c-30.286 0-54.857-24.571-54.857-54.857v-109.714c0-30.286 24.571-54.857 54.857-54.857h237.714v-237.714c0-30.286 24.571-54.857 54.857-54.857h109.714c30.286 0 54.857 24.571 54.857 54.857v237.714h237.714c30.286 0 54.857 24.571 54.857 54.857z"
            ></path>
          </svg>
          <span class="Invite-text">Invite</span>
        </button>
      </div>
    </div>
  </div>


  <div class="col">
		<div class="card radius-15">
			<div class="card-body text-center">
				<div class="p-4 border radius-15">
					<img src="https://bootdey.com/img/Content/avatar/avatar1.png" width="110" height="110" class="rounded-circle shadow" alt="">
					<h5 class="mb-0 mt-5">{{FirstName}} {{LastName}}</h5>
					<p class="mb-3"></p>
					<div class="list-inline contacts-social mt-3 mb-3"> <a href="javascript:;" class="list-inline-item bg-facebook text-white border-0"><i class="bx bxl-facebook"></i></a>
						<a href="javascript:;" class="list-inline-item bg-twitter text-white border-0"><i class="bx bxl-twitter"></i></a>
						<a href="javascript:;" class="list-inline-item bg-linkedin text-white border-0"><i class="bx bxl-linkedin"></i></a>
					</div>
					<div class="d-grid"> <button href="#" (click)="SendInvite()" class="btn btn-outline-primary radius-15">Invite</button>
					</div>
				</div>
			</div>
		</div>
	</div>
