<body>
<div id="headerBodyContainer">
  <div class="container py-4 py-xl-5">
      <div class="row gy-4 gy-md-0 rubberBand animated">
          <div class="col-md-6 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center">
              <div style="max-width: 350px;">
                  <h2 class="text-uppercase fw-bold"><strong>CHAT APPLICATION</strong></h2>
                  <p class="fw-lighter my-3"><strong>This is an application created in the summer 2023, using for chat between others and to collaborating&nbsp;</strong></p>
                  <a class="btn btn-primary btn-lg me-2" role="button" data-bss-hover-animate="swing" href="/register">sign up </a>
                  <a class="btn btn-outline-light btn-lg" role="button" data-bss-hover-animate="swing" href="/login">sign in</a>
              </div>
          </div>
          <div class="col-md-6">
              <div class="p-xl-5 m-xl-5"><img class="rounded img-fluid w-100 fit-cover" style="min-height: 300px;" src="assets/img/OIP.jpg"></div>
          </div>
      </div>
  </div>
</div>
<section class="card-section-imagia">
  <h1>Our Team</h1>
  <h2>Work Hard, work smart</h2>
  <div class="container">
      <div class="row" id="rows">
          <div class="col-sm-6 col-md-4">
              <div class="card-container-imagia">
                  <div class="card-imagia">
                      <div class="front-imagia">
                          <div class="cover-imagia"><img alt="" src="https://unsplash.it/720/500?image=1067"></div>
                          <div class="user-imagia"><img class="img-circle" alt="" src="assets/img/311570341_1171050073826749_8922140566911874495_n.jpg"></div>
                          <div class="content-imagia">
                              <h3 class="name-imagia">Hakim Barbaria</h3>
                              <p class="text-capitalize text-secondary subtitle-imagia"><span style="color: rgb(33, 37, 41);">IT Student</span></p>
                              <p class="text-center">Developpement Information System</p>
                          </div>
                          <div class="footer-imagia"><span><i class="fa fa-plus"></i> More info</span></div>
                      </div>
                      <div class="back-imagia">
                          <div class="content-imagia content-back-imagia">
                              <div>
                                  <h3 class="text-center">More Informations</h3>
                                  <p class="text-center">email: hakimbarbaria@gmail.com</p>
                              </div>
                          </div>
                          <div class="footer-imagia">
                              <div class="social-imagia text-center"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-twitter"></i></a></div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-4">
              <div class="card-container-imagia">
                  <div class="card-imagia">
                      <div class="front-imagia">
                          <div class="cover-imagia cover-gradient"></div>
                          <div class="user-imagia"><img class="img-circle" alt="" src="assets/img/235036181_369437834875482_5177931029545965894_n.jpg"></div>
                          <div class="content-imagia">
                              <h3 class="name-imagia">Fedi Ben mansou</h3>
                              <p class="subtitle-imagia">IT Student</p>
                              <p class="text-center">Developement Information System</p>
                          </div>
                          <div class="footer-imagia"><span><i class="fa fa-plus"></i> More info</span></div>
                      </div>
                      <div class="back-imagia">
                          <div class="content-imagia content-back-imagia">
                              <div>
                                  <h3 class="text-center">More informations</h3>
                                  <p class="text-center"></p>
                              </div>
                          </div>
                          <div class="footer-imagia">
                              <div class="social-imagia text-center"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-twitter"></i></a></div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <section class="py-4 py-xl-5">
      <div class="container">
          <div class="text-white bg-dark border rounded border-0 border-light d-flex flex-column justify-content-between align-items-center flex-lg-row p-4 p-lg-5">
              <div class="text-center text-lg-start py-3 py-lg-1">
                  <h2 class="fw-bold mb-2">Need Help</h2>
                  <p class="mb-0">Right your email here and we contact you</p>
              </div>
              <form class="d-flex justify-content-center flex-wrap my-2" method="post">
                  <div class="my-2"><input class="form-control" type="email" name="email" placeholder="Your Email"></div>
                  <div class="my-2"><button class="btn btn-primary ms-sm-2" type="submit">Send</button></div>
              </form>
          </div>
      </div>
  </section><link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<footer class="footer_area section_padding_130_0">
<div class="container">
  <div class="row">
    <!-- Single Widget-->
    <div class="col-12 col-sm-6 col-lg-4">
      <div class="single-footer-widget section_padding_0_130">
        <!-- Footer Logo-->
        <div class="footer-logo mb-3"></div>
        <p>Appland is completely creative, lightweight, clean app landing page.</p>
        <!-- Copywrite Text-->
        <div class="copywrite-text mb-5">
          <p class="mb-0">Made with <i class="lni-heart mr-1"></i>by<a class="ml-1" href="https://wrapbootstrap.com/user/DesigningWorld">Designing World</a></p>
        </div>
        <!-- Footer Social Area-->
        <div class="footer_social_area"><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest"><i class="fa fa-pinterest"></i></a><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Skype"><i class="fa fa-skype"></i></a><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></div>
      </div>
    </div>
    <!-- Single Widget-->
    <div class="col-12 col-sm-6 col-lg">
      <div class="single-footer-widget section_padding_0_130">
        <!-- Widget Title-->
        <h5 class="widget-title">About</h5>
        <!-- Footer Menu-->
        <div class="footer_menu">
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Corporate Sale</a></li>
            <li><a href="#">Terms &amp; Policy</a></li>
            <li><a href="#">Community</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Single Widget-->
    <div class="col-12 col-sm-6 col-lg">
      <div class="single-footer-widget section_padding_0_130">
        <!-- Widget Title-->
        <h5 class="widget-title">Support</h5>
        <!-- Footer Menu-->
        <div class="footer_menu">
          <ul>
            <li><a href="#">Help</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Term &amp; Conditions</a></li>
            <li><a href="#">Help &amp; Support</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Single Widget-->
    <div class="col-12 col-sm-6 col-lg">
      <div class="single-footer-widget section_padding_0_130">
        <!-- Widget Title-->
        <h5 class="widget-title">Contact</h5>
        <!-- Footer Menu-->
        <div class="footer_menu">
          <ul>
            <li><a href="#">Call Centre</a></li>
            <li><a href="#">Email Us</a></li>
            <li><a href="#">Term &amp; Conditions</a></li>
            <li><a href="#">Help Center</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</footer>
  <div></div>
</section>
<div></div>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/bs-init.js"></script>
<script src="assets/js/Sidebar-Menu-sidebar.js"></script>
</body>
