<div class="addfriend-container">
  <div class="addfriend-container1">
    <div class="addfriend-picture">
      <div class="addfriend-connection-status"></div>
    </div>
    <div class="addfriend-container2">
      <div class="addfriend-name-container">
        <span>user.firstName+user.LastName</span>
      </div>
      <div class="addfriend-buttons-container">
        <button type="button" class="addfriend-accept-button button">
          Accept
        </button>
        <button type="button" class="addfriend-delete-button button">
          Delete
        </button>
      </div>
    </div>
    <div class="addfriend-drop-down-container">
      <div data-thq="thq-dropdown" class="addfriend-thq-dropdown list-item">
        <div data-thq="thq-dropdown-toggle" class="addfriend-dropdown-toggle">
          <div data-thq="thq-dropdown-arrow" class="addfriend-dropdown-arrow">
            <svg viewBox="0 0 1024 1024" class="addfriend-icon">
              <path d="M426 726v-428l214 214z"></path>
            </svg>
          </div>
        </div>
        <ul data-thq="thq-dropdown-list" class="addfriend-dropdown-list">
          <li data-thq="thq-dropdown" class="addfriend-dropdown list-item">
            <div
              data-thq="thq-dropdown-toggle"
              class="addfriend-dropdown-toggle1"
            >
              <span class="addfriend-text">Sub-menu Item</span>
            </div>
          </li>
          <li data-thq="thq-dropdown" class="addfriend-dropdown1 list-item">
            <div
              data-thq="thq-dropdown-toggle"
              class="addfriend-dropdown-toggle2"
            >
              <span class="addfriend-text1">Sub-menu Item</span>
            </div>
          </li>
          <li data-thq="thq-dropdown" class="addfriend-dropdown2 list-item">
            <div
              data-thq="thq-dropdown-toggle"
              class="addfriend-dropdown-toggle3"
            >
              <span class="addfriend-text2">Sub-menu Item</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
